.span8 {
  float: left;
  width: 66.3333333333%; }

.span6 {
  width: 49.5%;
  float: left; }

.col {
  margin-left: 1%; }

.span4 {
  width: 32.666667%;
  float: left; }

.span12 {
  width: 100%;
  float: left; }

img {
  max-width: 100%;
  max-height: 100%; }

.clear {
  clear: both; }

#semiOrderShirts {
  font-family: "DIN Next W01 Regular",arial !important; }
  #semiOrderShirts .semiTab {
    position: relative;
    margin-bottom: 2em;
    width: 100%;
    overflow: hidden; }
    #semiOrderShirts .semiTab.semiHide:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0; }
    #semiOrderShirts .semiTab.semiHide form.semiForm {
      opacity: .4; }
  #semiOrderShirts .selectedStatus {
    position: relative;
    color: black;
    float: right;
    opacity: .45;
    vertical-align: middle; }
  #semiOrderShirts input:checked.accordionInput ~ .semi-tab-content {
    max-height: 15em; }
  #semiOrderShirts .accordionInput {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  #semiOrderShirts label.dropdownTitle {
    position: relative;
    display: block;
    padding: 0 0 0 .5em;
    color: #004072;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    font-weight: bold;
    line-height: 3;
    cursor: pointer; }
  #semiOrderShirts .unchecked:before {
    content: '\f096';
    margin-right: .5em;
    color: black;
    vertical-align: middle;
    font-family: FontAwesome; }
  #semiOrderShirts .checked:before {
    content: '\f046';
    margin-right: .5em;
    vertical-align: middle;
    font-family: FontAwesome; }
  #semiOrderShirts .semi-tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    transition: max-height .35s; }
    #semiOrderShirts .semi-tab-content .selectContainer {
      padding: 2em 2.5em;
      box-sizing: border-box; }
  #semiOrderShirts select.semiSelect {
    border: none;
    width: 32.66667%;
    height: 3em;
    font-size: 16px;
    text-align: center;
    text-align-last: center;
    border: 1px solid black;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: initial !important;
    left: 0;
    padding: 0;
    position: initial; }
  #semiOrderShirts .nice-select {
    display: none !important; }
  #semiOrderShirts select[name='selectedSize'] option {
    text-transform: capitalize; }
  #semiOrderShirts .wrapper {
    max-width: 1280px;
    margin: 0 auto; }
  #semiOrderShirts .squareSelect:hover {
    cursor: pointer; }
    #semiOrderShirts .squareSelect:hover .selectOption {
      opacity: .45; }
  #semiOrderShirts .squareSelect .selectOption {
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 14px 24px; }
    #semiOrderShirts .squareSelect .selectOption .selectedTitle {
      font-size: 18px;
      text-decoration: underline; }
    #semiOrderShirts .squareSelect .selectOption:hover {
      opacity: 1 !important;
      border-color: rebeccapurple; }
      #semiOrderShirts .squareSelect .selectOption:hover h4, #semiOrderShirts .squareSelect .selectOption:hover p {
        color: rebeccapurple; }
    #semiOrderShirts .squareSelect .selectOption h4 {
      margin: 0; }
    #semiOrderShirts .squareSelect .selectOption p {
      margin-bottom: 0; }
    #semiOrderShirts .squareSelect .selectOption .optionDescript {
      margin: 0;
      font-size: 12px;
      font-family: "DIN Next W01 Light",arial !important; }
  #semiOrderShirts .squareSelect .selected {
    opacity: 1 !important;
    border-color: rebeccapurple; }
    #semiOrderShirts .squareSelect .selected h4, #semiOrderShirts .squareSelect .selected p {
      color: rebeccapurple; }
  #semiOrderShirts .squareSelect .deselected {
    opacity: .45; }
  #semiOrderShirts .productInfo {
    font-size: 24px; }
  #semiOrderShirts .semi-cta {
    margin: 0 auto;
    width: 60%;
    background-color: #004072;
    text-align: center;
    position: relative;
    transition: all .075s linear; }
    #semiOrderShirts .semi-cta.semiHide {
      background-color: rgba(0, 64, 114, 0.25);
      transition: all .075s linear; }
      #semiOrderShirts .semi-cta.semiHide:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0; }
      #semiOrderShirts .semi-cta.semiHide a.semia {
        opacity: .4; }
    #semiOrderShirts .semi-cta a.semia {
      display: block;
      padding: 16px 0;
      color: white;
      text-decoration: none;
      font-size: 24px; }
  #semiOrderShirts .shirtOrder {
    overflow: scroll; }
    #semiOrderShirts .shirtOrder .featuredImgSxn {
      overflow: hidden; }
      #semiOrderShirts .shirtOrder .featuredImgSxn img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        object-position: top; }
    #semiOrderShirts .shirtOrder .dropdownSxn {
      height: 650px;
      overflow: scroll; }

/*# sourceMappingURL=styles.css.map */
